:root {
    --open-sans: "Open Sans", sans-serif;
    --nunito-sans: "Nunito Sans", sans-serif;

    --accent-light: #FBB731;
    --accent-dark: #F37335;
    --dark: #443737;
    --light: #ffffff;
    --light-rgb: 255, 255, 255;
    --dark-rgb: 68, 55, 55;
    --line: #dedede;
    --tr: .3s;
}

body {
    font-family: var(--open-sans);
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1182px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    transition: .3s;
}

/* Header*/

.header {
    border-bottom: 1px solid var(--line);
}

.header-wrapper {
    display: flex;
    align-items: center;
    gap: 56px;
    padding-top: 26px;
    padding-bottom: 26px;
}

.burger-menu {
    display: none;
    width: 34px;
    height: 22px;
    background-image: url(../images/burger-menu.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
}

.logo {
    display: block;
    width: 176px;
    height: 56px;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.nav {
    flex-grow: 1;
    display: flex;
    gap: 47px;
    margin-left: min(10vw, 140px);
}

.nav-link {
    color: var(--dark);
    font-size: 20px;
    font-weight: 600;
}

.nav-link::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: transparent;
    border-radius: 1.5px;
    transition: var(--tr);
}

.nav-link:hover::after {
    background-color: var(--accent-light);
}

.cart {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--dark);
    font-size: 15px;
    font-weight: 700;
    position: relative;
}

.cart::before {
    content: '';
    display: block;
    width: 30px;
    height: 26px;
    background-image: url(../images/cart.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.cart-count {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17px;
    height: 17px;
    border-radius: 100%;
    font-size: 10px;
    color: var(--light);
    background-color: var(--accent-dark);
    position: absolute;
    left: 17px;
    bottom: 0;
}

.button-up {
    text-align: center;
    position: fixed;
    right: 10px;
    bottom: 10px;
    color: var(--dark);
    font-family: var(--nunito-sans);
    font-size: 12px;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: none;
    padding: 6px 10px;
    border: none;
    border-radius: 3px;
    background: var(--accent-light);
    transition: var(--tr);
}

.button-up:hover {
    color: var(--light);
    background-color: var(--accent-dark);
}

.button-up.hidden {
    opacity: 0;
}

.button-up.visible {
    opacity: 1;
}

/* Hero */

.hero {
    background-image: url(../images/hero.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    padding-top: 142px;
    padding-bottom: 142px;
}

.breadcrumbs {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 16px;
    padding-left: 0;
    color: rgba(var(--light-rgb), 0.5);
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 0;
}

.breadcrumbs-item {
    position: relative;
}

.breadcrumbs-item:not(:last-child)::after {
    content: '/';
    position: absolute;
    right: -12px;
}

.breadcrumbs-link {
    color: rgba(var(--light-rgb), 0.5);
}

.breadcrumbs-link:hover {
    color: var(--accent-light);
}

.hero-title {
    color: var(--light);
    font-family: var(--nunito-sans);
    font-size: 79px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 20px;
    margin-bottom: 18px;
}

.hero-description {
    max-width: 320px;
    color: rgba(var(--light-rgb), 0.8);
    font-family: var(--open-sans);
    font-size: 15px;
    line-height: 160%;
    margin: 0 auto;
}

/* Banner */

.banner {
    margin-top: 140px;
}

.banner-wrapper {
    background-image: url(../images/banner.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 100px;
}

.banner-title {
    display: flex;
    flex-direction: column;
    color: var(--light);
    font-family: var(--nunito-sans);
    font-size: 60px;
    font-weight: 900;
    line-height: 126%;
    margin-top: 0;
    margin-bottom: 10px;
}

.banner-title span {
    display: block;
    max-width: 95px;
    border-radius: 14px;
    background-color: var(--accent-dark);
    color: var(--light);
    font-family: var(--open-sans);
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    line-height: 128%;
    padding: 5px 0;
    margin-bottom: 4px;
}

.banner-description {
    color: rgba(var(--light-rgb), .8);
    font-family: var(--open-sans);
    font-size: 15px;
    font-weight: 400;
    line-height: 160%;
    max-width: 376px;
    margin-top: 0;
}

.banner-btn {
    display: block;
    max-width: 170px;
    text-align: center;
    color: var(--dark);
    font-family: var(--nunito-sans);
    font-size: 14px;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px 0%;
    border: none;
    border-radius: 5px;
    background: var(--accent-light);
    transition: var(--tr);
}

.banner-btn:hover {
    color: var(--light);
    background-color: var(--accent-dark);
}

/* Menu */

.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 34px;
}

.menu-select {
    border-radius: 22px;
    color: var(--dark);
    font-family: var(--open-sans);
    font-size: 15px;
    font-weight: 400;
    appearance: none;
    flex-basis: 279px;
    background-image: url(../images/menu/chevron-down.svg);
    background-repeat: no-repeat;
    background-size: 14px 10px;
    background-position: 89% center;
    border: 1px solid var(--line);
    padding: 13px 30px;
}

.menu-item {
    font-family: var(--nunito-sans);
    text-align: center;
}

.menu-title {
    font-family: var(--nunito-sans);
    color: var(--dark);
    font-size: 44px;
    font-weight: 700;
    line-height: 128%;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}

.menu-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 50px 20px;
}

.menu-thumb {
    width: 100%;
    height: 430px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.menu-thumb img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.menu-name {
    color: var(--dark);
    font-size: 30px;
    font-weight: 600;
    line-height: 126%;
    margin-top: 0;
    margin-bottom: 10px;
}

.menu-price {
    color: rgba(var(--dark-rgb), .5);
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}

.menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 10px;
    color: var(--dark);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    background: var(--accent-light);
    padding: 11px 32px;
    margin: 0 auto;
    transition: var(--tr);
}

.menu-btn::before {
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    background-image: url(../images/menu/cart-menu.svg);
    background-repeat: no-repeat;
    background-size: contain;
    transition: var(--tr);
}

.menu-btn:hover {
    background-color: var(--accent-dark);
    color: var(--light);
}

.menu-btn:hover::before {
    background-image: url(../images/menu/cart-menu-light.svg);
}

/* Footer */

.hero-contact {
    background-image: url(../images/hero-contact.jpg);
}

.footer {
    background-color: #1E2F40;
    padding-top: 110px;
    padding-bottom: 120px;
    margin-top: 140px;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.footer-logo {
    display: block;
    width: 56px;
    height: 63px;
    background-image: url(../images/logo-light-min.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-title {
    margin: 0 0 13px 0;
    color: var(--light);
    font-family: var(--nunito-sans);
    font-size: 20px;
    font-weight: 800;
    line-height: 150%;
    text-transform: uppercase;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.footer-nav-link {
    color: rgba(var(--light-rgb), 0.9);
    font-family: var(--open-sans);
    font-size: 15px;
    font-weight: 400;
    line-height: 160%;
    transition: var(--tr);
}

.footer-nav-link:hover {
    color: var(--accent-light);
}

.footer-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-list li {
    color: var(--light);
    font-family: var(--open-sans);
    font-size: 15px;
    font-weight: 700;
    line-height: 160%;
}

.footer-list span {
    display: block;
    color: rgba(var(--light-rgb), 0.9);
    font-family: var(--open-sans);
    font-weight: 400;
}

.footer-list li:not(:last-child) {
    margin-bottom: 14px;
}

.footer-item:last-child {
    flex-basis: 194px;
}

.footer-tel {
    color: var(--accent-light);
    font-family: var(--nunito-sans);
    font-size: 20px;
    font-weight: 800;
    text-align: right;
    text-transform: uppercase;
    transition: var(--tr);
}

.footer-tel._mobile {
    display: none;
}

.footer-tel:hover {
    color: var(--light);
}

/* Contact */

.contact-main {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 1057px;
    margin: 140px auto 60px;
}

.contact-map {
    flex-basis: 680px;
}

.contact-adress {
    flex-basis: calc(100% - 680px - 20px);
    list-style-type: none;
    padding-left: 0;
}

.contact-adress>li:not(:last-child) {
    margin-bottom: 26px;
}

.contact-adress>li>span {
    display: block;
    font-size: 15px;
    line-height: 160%;
}

.contact-adress>li>span:first-child {
    font-family: var(--nunito-sans);
    font-size: 20px;
    font-weight: 700;
    line-height: 190%;
    text-transform: uppercase;
    margin-left: 3px;
    margin-bottom: 4px;
}

.contact-adress>li>span:last-child {
    font-weight: 700;
    margin-top: 10px;
}

.contact-additionally {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    max-width: 1057px;
    list-style-type: none;
    padding-left: 0;
    margin: 0 auto;
}

.contact-additionally>li {
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.contact-additionally>li::before {
    content: '';
    display: block;
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-additionally>li:nth-child(1):before {
    background-image: url(../images/contact/01.svg);
}

.contact-additionally>li:nth-child(2):before {
    background-image: url(../images/contact/02.svg);
}

.contact-additionally>li:nth-child(3):before {
    background-image: url(../images/contact/03.svg);
}

.contact-info,
.contact-tel {
    display: block;
    color: var(--dark);
    font-family: var(--nunito-sans);
    font-size: 20px;
    font-weight: 700;
    line-height: 140%;
    margin-top: 5px;
}

.contact-tel {
    transition: var(--tr);
}

.contact-tel:hover {
    color: var(--accent-light);
}

/* Media */

@media (width <=1080px) {
    .header-wrapper {
        gap: 40px;
    }

    .nav {
        margin-left: 0;
        gap: min(3vw, 30px);
    }
}

@media (width <=768px) {
    .header-wrapper {
        gap: 45px;
    }

    .nav {
        gap: 22px;
    }

    .logo {
        width: 150px;
        height: 47.81px;
    }

    .banner {
        margin-top: 72px;
    }

    .banner-wrapper {
        padding: 100px 40px;
    }

    .menu-header {
        margin-top: 80px;
    }

    .menu-box {
        grid-template-columns: repeat(2, 1fr);
    }

    .menu-box._additionally {
        grid-template-columns: 1fr;
    }

    .menu-item._additionally {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .menu-item._additionally .menu-thumb {
        flex-basis: calc(60% - 20px);
        height: 260px;
        margin-bottom: 0;
    }

    .menu-item._additionally .menu-info {
        flex-basis: 40%;
    }

    .footer {
        padding-top: 62px;
        padding-bottom: 71px;
    }

    .footer-nav {
        margin-bottom: 20px;
    }

    .footer-item:last-child {
        display: none;
    }

    .footer-tel._mobile {
        display: block;
        text-align: left;
    }
}

@media (width <=730px) {
    .header-wrapper {
        gap: 21px;
        padding-top: 19px;
        padding-bottom: 19px;
    }

    .nav {
        display: none;
    }

    .nav-link::after {
        display: none;
    }

    .nav._modal {
        display: flex;
        flex-direction: column;
    }

    .burger-menu {
        display: block;
    }

    .logo {
        width: 116px;
        height: 37px;
        flex-grow: 1;
    }

    .modal {
        background-color: #FFF8DC;
        padding: 40px 15px;
        position: absolute;
        top: -400px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 100%;
        max-width: 500px;
        box-sizing: border-box;
        text-align: center;
        transition: var(--tr);
    }

    .modal-close {
        display: block;
        width: 22px;
        height: 22px;
        background-image: url(../images/close.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-color: transparent;
        border: none;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .hero {
        padding-top: 57px;
        padding-bottom: 55px;
    }

    .hero-title {
        font-size: 38px;
        margin-top: 28px;
        margin-bottom: 13px;
    }

    .hero-description {
        font-size: 12px;
        line-height: 166%;
    }

    .breadcrumbs {
        font-size: 14px;
    }

    .banner {
        margin-top: 33px;
    }

    .breadcrumbs-link:hover {
        display: none;
    }

    .banner-wrapper {
        padding: 36px 15px;
    }

    .banner-title {
        margin-bottom: 9px;
    }

    .banner-description {
        font-size: 14px;
        max-width: 220px;
        margin-bottom: 20px;
    }

    .banner-btn {
        max-width: 198px;
    }

    .menu-header {
        margin-top: 58px;
        margin-bottom: 30px;
    }

    .menu-title {
        font-size: 27px;
    }

    .menu-select {
        font-size: 12px;
        flex-basis: 136px;
        width: 136px;
        background-size: 12px 8px;
        background-position: 93% center;
        padding: 13px 15px;
    }

    .menu-box {
        gap: 24px 20px;
    }

    .menu-thumb {
        margin-bottom: 10px;
        height: 50vw;
    }

    .menu-item._additionally .menu-thumb {
        height: 30vw;
    }

    .menu-name {
        font-size: 13px;
        font-weight: 800;
        margin-bottom: 8px;
    }

    .menu-price {
        font-size: 12px;
        margin-bottom: 14px;
    }

    .menu-btn {
        padding: 11px 22px;
    }

    .footer {
        margin-top: 80px;
    }

    .footer-wrapper {
        flex-direction: column;
        gap: 35px;
        position: relative;
    }

    .footer-logo {
        margin-bottom: 9px;
    }

    .footer-tel._mobile {
        position: absolute;
        top: -4px;
        right: 0;
    }

    .footer-tel._mobile+.footer-tel._mobile {
        top: 28px;
    }
    .footer-title {
    font-size: 18px;
    }
    .footer-nav {
        margin-bottom: 0;
    }
}

@media (width <=450px) {
    .menu-item._additionally .menu-thumb {
        flex-basis: calc(100% - 130px - 20px);
        height: 38vw;
    }

    .menu-box._additionally .menu-info {
        flex-basis: 130px;
    }
}